<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mabatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy.example.mapper.BoardMapper">
	<select id="selectBoardList" resultType="Board">
		SELECT 		b_idx as bIDX,
					b_title as bTitle,
					b_content as bContent,
					b_writer as bWriter,
					b_category as bCategory,
					b_datetime as bDateTime
		FROM		lc_board	
	</select>
	
	<!-- 글쓰기 등록 -->
	<insert id="insertBoard" parameterType="Board">
		
		INSERT INTO lc_board (
			b_datetime,
			b_category,
			b_title,
			b_content,
			b_writer,
			u_id						
		)
		VALUES(
			NOW(),
			#{bCategory},
			#{bTitle},
			#{bContent},
			#{user.uName},
			#{user.username}			
		)		
		<selectKey resultType="int" keyProperty="bIdx" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<!-- 조회수 오더 뎁스 -->
	<update id="updateBoard" parameterType="Board">
		UPDATE 	lc_board
		SET 	b_group = #{bIdx}
		WHERE	b_idx	= #{bIdx}
	</update>
</mapper>
