<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy.example.mapper.BoardMapper">
	
	<select id="selectBoardList" parameterType="Pagination" resultType="Board" >
		SELECT @ROWNUM := @ROWNUM -1 AS ROWNUM,
			   ta.*
		FROM(
			SELECT 		(
						CASE 	WHEN 	(DATE_FORMAT(NOW(),'%Y-%m-%d') = DATE_FORMAT(b_datetime,'%Y-%m-%d'))
						THEN	(DATE_FORMAT(b_datetime,'%H:%i'))
						ELSE 	(DATE_FORMAT(b_datetime,'%Y-%m-%d'))
						END
						) as bDateTime,
						b_idx as bIdx,
						b_title as bTitle,
						b_content as bContent,
						b_writer as bWriter,
						u_id as bId,
						b_category as bCategory,
						b_hits as bHits,
						b_group as bGroup,
						b_order as bOrder,
						b_depth as bDepth
			FROM		lc_board		
			WHERE 		1 = 1
			<choose>
				<when test='search.category == null and search.target != null'>	<!-- 카테고리x 검색o -->
					and 
					<choose>
						<when test='search.target.equals("b_title")'>b_title</when> 
						<when test='search.target.equals("b_content")'>b_content</when>
						<when test='search.target.equals("b_writer")'>b_writer</when>
					</choose>
					LIKE CONCAT('%',#{search.keyword},'%')
				</when>
				<when test='search.category != null'>	
					and b_category = #{search.category}	<!-- 카테고리o 검색 x -->
					<if test='search.category != null and search.target != null' >	<!-- 카테고리o 검색o -->
					and b_category = #{search.category} 
					and 
					<choose>
						<when test='search.target.equals("b_title")'>b_title</when> 
						<when test='search.target.equals("b_content")'>b_content</when>
						<when test='search.target.equals("b_writer")'>b_writer</when>
					</choose> 
					LIKE CONCAT('%',#{search.keyword},'%')
					</if>	
				</when>
			</choose>
			) ta	
		INNER JOIN 	(SELECT @rownum := (SELECT COUNT(*)-#{pageNum}+1 FROM lc_board)) tb ON 1=1
		ORDER BY 	bGroup DESC, bOrder ASC
		LIMIT #{pageNum}, #{perPage}
	</select>
	
	<!-- 글쓰기 등록 -->
	<insert id="insertBoard" parameterType="Board">
		
		INSERT INTO lc_board (
			b_datetime,
			b_category,
			b_title,
			b_content,
			b_writer,
			u_id						
		)
		VALUES(
			NOW(),
			#{bCategory},
			#{bTitle},
			#{bContent},
			#{user.uName},
			#{user.username}			
		)		
		<selectKey resultType="int" keyProperty="bIdx" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<!-- 	조회수 오더 뎁스		 -->
	<update id="updateBoard" parameterType="Board">
		UPDATE 	lc_board
		SET 	b_group = #{bIdx}
		WHERE	b_idx	= #{bIdx}
	</update>
	<!--  	답글 등록	-->
	<insert id="replyInsertBoard">
		INSERT INTO lc_board (
			b_datetime,
			b_category,
			b_title,
			b_content,
			b_writer,
			b_order,
			u_id
		)
		
		VALUES (
			NOW(),
			#{bCategory},
			#{bTitle},
			#{bContent},
			#{user.uName},
			#{bOrder},
			#{user.username}
		)
		<selectKey resultType="int" keyProperty="bIdx" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	
	<update id="depthGroupUpdate" parameterType="Board">
		UPDATE lc_board
		SET 	b_group = #{bGroup} , b_depth = #{bDepth} +1
		WHERE	b_idx = #{bIdx}
	</update>
	
	<update id="orderUpdate" parameterType="Board">
		UPDATE	lc_board
		SET 	b_order = b_order +1
		WHERE	b_group	= #{bGroup} AND b_order >= #{bOrder} and b_idx != #{bIdx}
	</update>
	
	<!--  	글 보기 	  -->
	<select id="viewBoard" resultType="Board">
		SELECT 		b_idx as bIdx,
					b_title as bTitle,
					b_content as bContent,
					b_writer as bWriter,
					b_category as bCategory,
					b_datetime as bDateTime,
					b_hits as bHits,
					b_order as bOrder,
					b_depth as bDepth,
					b_group as bGroup
					
		FROM		lc_board
		WHERE 		b_idx	=	#{bIdx}		
	</select>
	<update id="hitsBoard" parameterType="Board">
		UPDATE 	lc_board
		SET		b_hits = b_hits + 1
		WHERE	b_idx = #{bIdx}
	</update>
	<!-- 	글 삭제	 -->
	<delete id="deleteBoard">
		DELETE		 	
		FROM		lc_board
		WHERE		b_idx = #{bIdx}
	</delete>
	<!-- 	글 수정	 -->
	<update id="editBoard">
		UPDATE		lc_board
		SET			b_title = #{bTitle},
					b_content = #{bContent}
		WHERE		b_idx = #{bIdx}
	</update>
	<!-- 전체 글 숫자 -->
	<select id="countBoard" resultType="int">
		SELECT		COUNT(*)
		FROM		lc_board		
	</select>
	
</mapper>
