<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy.example.mapper.CommentMapper">
	
	<insert id="writeComment" parameterType="Comment">
		INSERT INTO lc_comment (
			c_datetime,
			c_id,
			c_content,			
			c_bIdx
		)	
		VALUES (
			NOW(),
			#{cId},
			#{cContent},
			#{cBidx}
		)
	</insert>
	<select id="getCommentList" resultType="Comment">
		SELECT 	c_idx as cIdx,
				c_content as cContent,
				c_datetime as cDatetime,
				c_id as cId,
				c_bIdx as cBidx,
				c_order as cOrder,
				c_depth as cDepth,
				c_group as cGroup
				
		FROM	lc_comment
		WHERE	c_bIdx = #{cBidx}
	</select>
	
	<select id="getCount" resultType="int">
		SELECT	COUNT(*)
		FROM	lc_comment
		WHERE	c_bIdx = #{cBidx}
	</select>
	<delete id="deleteComment" parameterType="Comment">
		DELETE		
		FROM		lc_comment
		WHERE		c_bIdx = #{cBidx} and c_idx = #{cIdx}
	</delete>
	<update id="editComment" parameterType="Comment">
		UPDATE	lc_comment
		SET 	c_content = #{cContent},
				c_datetime = NOW()
		WHERE 	c_idx = #{cIdx}	
	</update>
	
</mapper>