<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy.example.mapper.SurveyMapper">
	<!-- 설문DB등록 -->
	<insert id="saveSurvey" parameterType="Survey">
		INSERT INTO	lc_survey
		(
			s_title,
			s_description,
			s_user,
			s_datetime
		)
		VALUES (
			#{sTitle},
			#{sDescription},
			#{user.username},
			NOW()
		)
		<selectKey resultType="int" keyProperty="sIdx" order="AFTER">
				SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<insert id="saveQuestion" parameterType="Question">
		INSERT INTO	lc_question
		(
			q_title,
			q_type,
			sIdx			
		)
		VALUES (
			#{qTitle},
			#{qType},
			#{sIdx}
		)
		<selectKey resultType="int" keyProperty="qIdx" order="AFTER">
				SELECT LAST_INSERT_ID()
		</selectKey>				 					
	</insert>
	<insert id="saveItem" parameterType="Question">
		INSERT INTO lc_item (
			sIdx,
			qIdx,
			content
		)
		VALUES 
			<foreach collection="items" item="item" index="index" separator=",">
			(
				#{sIdx},
				#{qIdx},
				#{item.content}
			)
			</foreach>
	</insert>
	<!-- 설문 리스트 -->
	<select id="selectSurvey" resultType="Survey">
		SELECT			s_idx as sIdx,
						s_title as sTitle,
						s_description as sDescription,
						s_user as sName,
						s_datetime as sDateTime
		FROM			lc_survey
		ORDER BY		sDescription
	</select>
	
	
	<resultMap type="Survey" id="infoSurvey">
		<result property="sIdx" column="s_idx"/>
		<result property="sTitle" column="s_title"/>
		<result property="sDescription" column="s_description"/>
		<result property="sName" column="s_user"/>
		<result property="sDateTime" column="s_datetime"/>				
		
		<collection property="questions" resultMap="QuestionInfo"/>			
	</resultMap>
 	<resultMap type="Question" id="QuestionInfo">
 		<result column="q_idx" property="qIdx"/>
 		<result column="sIdx" property="sIdx"/>
 		<result column="q_title" property="qTitle"/>
 		<result column="q_type" property="qType"/>
 			
 		<collection property="items" resultMap="ItemInfo"/>
 	</resultMap>
 	<resultMap type="Item" id="ItemInfo">
 		<result column="content" property="content"/>
 		<result column="i_idx" property="idx"/>
 		<result column="sIdx" property="sIdx"/>
 		<result column="qIdx" property="qIdx"/> 		 				
 	</resultMap>
 	<select id="getSurvey" parameterType="Survey" resultMap="infoSurvey">
 		SELECT * FROM lc_survey WHERE s_idx = #{sIdx}
 	</select>
 	<select id="getQuestions" parameterType="Question" resultMap="QuestionInfo">
 		SELECT * FROM lc_question WHERE sIdx = #{sIdx}
 	</select>
 	<select id="getItems" parameterType="Item" resultMap="ItemInfo">
 		SELECT * FROM lc_item WHERE sIdx = #{sIdx}
 	</select>
</mapper>