<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy.example.mapper.SurveyMapper">
	<insert id="saveSurvey" parameterType="Survey">
		INSERT INTO	lc_survey
		(
			s_title,
			s_description,
			s_user,
			s_datetime
		)
		VALUES (
			#{sTitle},
			#{sDescription},
			#{user.username},
			NOW()
		)
		<selectKey resultType="int" keyProperty="sIdx" order="AFTER">
				SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	<insert id="saveQuestion" parameterType="Question">
		INSERT INTO	lc_question
		(
			q_title,
			q_type,
			sIdx			
		)
		VALUES (
			#{qTitle},
			#{qType},
			#{sIdx}
		)
		<selectKey resultType="int" keyProperty="qIdx" order="AFTER">
				SELECT LAST_INSERT_ID()
		</selectKey>				 					
	</insert>
	<insert id="saveItem" parameterType="Question">
		INSERT INTO lc_item (
			sIdx,
			qIdx,
			content
		)
		VALUES 
			<foreach collection="items" item="item" index="index" separator=",">
			(
				#{sIdx},
				#{qIdx},
				#{item.content}
			)
			</foreach>
	</insert>
	
</mapper>